#header{
	width:800px;
	height:70px;
	background: rgb(223,241,253);
	padding-left: 38px;
	padding-top: 12px;
	border: 2px solid rgb(90,142,191);
}
#t2{
	margin-left: 32px;
}
#f1{
	margin-left: -12px;

}
#f2{
	margin-left: 19px;
}
#title{
	font-size: 20px;
	font-weight: bold;
	margin-left: 250px;
	margin-top: 19px;
	margin-bottom: 8px;
}
.table100{
    border-collapse:collapse;
    width:805px;
    border:2px solid black;
}
.table100 td{
	height:25px;
	width:90px;
	border: 1px solid #BBCDDF;
	padding-left: 5px;
}
.ed{
	width:100%;
	height:100%;
	border: none;
	padding-left: 10px;
	text-align: left
}
.edt{
	width:100%;
	height:100%;
	border: none;
	padding-left: 2px;
	text-align: left	
}